* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fcfcfc;
  color: #333;
  width: 100%;
  border: 1px solid red;
}

.heading {
  text-align: center;
  font-size: 32px;
  color: #159447;
}

.subheading {
  text-align: center;
  color: #777;
}

form {
  display: flex;
  justify-content: center;
  margin: 25px;
}

.search-bar {
  padding: 10px 100px;
  margin: 5px;
  border-radius: 10px;
}

.btn {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

button:hover {
  background: grey;
}

a:hover {
  color: #107638;
}

h2, p {
  text-align: center;
}


